.content {
    padding: 10px;
}

.img-cover {
    width: 100%;
    height: 100vh;
}

.author {
    display: flex;
    justify-content: space-between;
}

.author-info {
    display: flex;
    align-items: center;
}

.author-info img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.author-details {
    margin-left: 10px;
}

.author-details h3 {
    margin: 0;
}

a img {
    width: 23px;
    height: 30px;
}

a p {
    display: inline;
}

.bookmark {
    display: flex;
    align-items: center;
}